html, body{
    height: 100%;
    max-width: 100%;
    background: rgb(75,192,200);
    background: linear-gradient(90deg, rgba(75,192,200,1) 0%, rgba(199,121,208,1) 50%, rgba(254,172,94,1) 100%);
    overflow : hidden;
}


.AppContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 55vw;
    height: 70vh;
    background: rgba(255, 255, 255, 0.363);
    mix-blend-mode: normal;
    backdrop-filter: blur(40px);
    border-radius: 20px;
}

.SearchContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    width:30vw;
    background: rgba(255, 255, 255, 0.363);
    mix-blend-mode: normal;
    backdrop-filter: blur(40px);
    border-radius: 20px;
}



/*GRID*/
.SearchGrid {
    margin-top:7.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "left center right";
  }

    .SGcenter { grid-area: center; }
    
    .SGright { grid-area: right; }
    
    .SGleft { grid-area: left; }
  

.AppGrid {
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "AGleft AGcenter AGright";
}

.AGleft { grid-area: AGleft; }

.AGcenter { grid-area: AGcenter; }

.AGright { grid-area: AGright; }

  