@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

html, body{
    height: 100%;
    max-width: 100%;
    background: linear-gradient(87deg, #4bc0c8, #c779d0, #feab5d);
    background-size: 600% 600%;
    -webkit-animation: LinearAnimation 55s ease infinite;
    -moz-animation: LinearAnimation 55s ease infinite;
    animation: LinearAnimation 55s ease infinite;
    font-family: 'Sen', sans-serif;
    color: rgba(255, 255, 255, 0.897);
}

/*BACKGROUND ANIMATION*/
@-webkit-keyframes LinearAnimation {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes LinearAnimation {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes LinearAnimation {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}


/*GRID*/
.SearchGrid {
    margin-top:7.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "left center right";
  }

    .SGcenter { grid-area: center; }    
    .SGright { grid-area: right; }    
    .SGleft { grid-area: left; }
  

.AppGrid {
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "AGleft AGcenter AGright";
}

.AGleft { grid-area: AGleft; }

.AGcenter { grid-area: AGcenter; }

.AGright { grid-area: AGright; }



/*APP*/
/*Search Bar*/

.ErrorText{
    text-align: center;
}

#location-name{
    padding: 10px;
    width:25vw;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding-left: 25px;
    color: rgba(255, 255, 255, 0.897);
    font-family: 'Sen', sans-serif;
    font-size: 1.1rem;
    float: inline-start;
}

.TextBtn{
    font-family: 'Sen', sans-serif;
    color: rgba(255, 255, 255, 0.897);
    text-align: center;
    font-weight: bold;
}

.Submit{
    float:left;
    padding: 13.5px;
    margin-left: 12px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    cursor: pointer;
}




/*Weather part*/
.AppContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 924px;
    height: 604px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.103);

    text-align: center;
}

.CityName{
    font-size: 5.5rem;
    margin:24px;
}

.TempIcon{
    width: 9.8rem;
    -webkit-filter: drop-shadow(1px 1px 0 rgb(255, 255, 255))
        drop-shadow(-1px -1px 0 rgb(255, 255, 255));
    filter: drop-shadow(1px 1px 0 rgb(255, 255, 255)) 
        drop-shadow(-1px -1px 0 rgb(255, 255, 255));
}

.Temp{
    font-size: 5.5rem;
    margin:24px
}

hr{
    text-align: center;
    width:40vw;
    color:rgba(255, 255, 255, 0.349);
    border: 2px solid;
    border-radius: 10px;
}

/*Bottom Part*/
  .TempWindGrid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "TWleft TWright";
  }
  
  .TWleft { grid-area: TWleft; }
  
  .TWright { grid-area: TWright; }
  

.WindText, .MaxMinText{
    font-size: 2.5rem;
    display: inline;
    text-align: right;
}

.WindIcon{
    display: inline;
    width: 2.5rem;
}





  